body {
  margin: 0;
  background-color: white;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#splash-container {
  text-align: center;
  margin-top: 10%;
}
#logo {
  font-size: 3em;
  background: linear-gradient(to right, green, gold, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}
#tagline {
  margin-top: 10px;
  font-size: 1.5em;
  white-space: pre;
  overflow: hidden;
  border-right: 2px solid black;
  width: 0;
  animation: typing 5s steps(60, end) forwards;
}
@keyframes typing {
  to {
    width: 100%;
  }
}
